<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>root path</title>
</head>
<body>
   <a href="/listings">go to all listings</a>
</body>
</html>